*, *::before, *::after {
box-sizing: border-box;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, rgb(140, 200, 221), rgb(247, 177, 188));
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: linear-gradient(to right, rgb(83, 198, 236), rgb(255, 161, 177))
}

.calc-grid > button:hover {
    
    background: linear-gradient(to right, rgb(236, 236, 236), rgb(0, 0, 0))
}

.span-two {
    grid-column: span 2;

}

.output {
grid-column: 1 / -1;
background-color: rgb(41, 39, 39);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
}

.output .prev-operand {
    color: rgb(8, 236, 160);
    font-size: 1.5rem;
}

.output .cur-operand {
    color: rgb(8, 236, 160);
    font-size: 2.5rem;
}


